body {
    color: rgb(25, 25, 25);
    font-family: 'Montserrat', sans-serif;
    /* height: 600vh; */
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(36, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
}
.to-top > img {
    height: 35px;
}
header {
    /* position: fixed; */
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, .5);
    /* box-shadow: 0 0px 10px rgb(234, 234, 234); */
}
.logo {
    /* height: 30px; */
    margin-left: 30px;
    font-size: 20px;
}

.nav {
    display: flex;
    align-items: center;
}
.nav > li {
    margin-left: 32px;
    color: rgb(66, 66, 66);
    font-size: 14px;
    cursor: pointer;
}
.nav > li:last-child {
    margin-right: 30px;
}


.top {
    /* background: url("../img/lake.jpg"); */
    /* height: 80vh; */
    /* background-size: cover; */
}
.multiple-items {
    /* height: 80vh; */
    /* width: 100vw; */
    width: 65vw;
    margin: 0 auto;
}

section {
    padding: 100px 0;
}
.section-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 80px;
}
.about-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.about-wrap > img {
    height: 230px;
}
.about-wrap > p {
    /* padding: 20px 30px; */
    margin-left: 80px;
    width: 50%;
    font-size: 18px;
    line-height: 24px;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}
.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
    margin: 0 auto;
}
.photos > img {
    width: 240px;
    margin: 10px;
    box-shadow: 0 0 10px #e7e7e7;
}

.hide {
    display: none;
}
.one {
    display: none;
    /* position: absolute; */
}

.item {
    height: 100px;
}

.photo-area {
    /* border: 1px solid black; */
}
.photo-area > h3 {
    margin: 40px auto;
}
.photo1 {
    display: flex;
    margin-bottom: 200px;
}
.photo1 > p {
    margin: 50px;
}
.photo1-img {
    height: 400px;
}
/* img {
    height: 200px;
} */

.photos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photos-container > img {
    height: 180px;
    margin: 20px;
}

footer {
    height: 150px;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 50px 180px;
}
footer > ul > li {
    margin-bottom: 10px;
}